<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-3.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Geomenum · Menu Item</title>
    <link rel="stylesheet" type="text/css" media="all" href="../../../resources/css/foundation.css" th:href="@{/css/foundation.css}" />
    <script src="../../../resources/js/vendor/modernizr.js" th:src="@{/js/vendor/modernizr.js}"></script>
  </head>

  <body>

    <div th:include="templates/layout :: header"></div>

    <section role="main">
      <div class="row">

        <div class="large-12 columns">

          <!--/* Breadcrumb navigation */-->
          <div th:include="templates/layout :: breadcrumbNavigationBar"></div>

          <div th:include="templates/widgets :: messageBox(${message})"></div>

          <!--/* MENU ITEM FORM */-->

          <form method="post" th:action="@{''}"
                th:object="${menuItem}"
                th:with="mode = ${mode} ?: 'view'" data-abide=""
                enctype="multipart/form-data">

            <input type="hidden" id="mode" th:value="${mode}" />

            <fieldset>

              <legend>
                <ul class="button-group">
                  <li>
                    <a href="?mode=edit" th:onclick="(${mode} == 'edit') ? 'return false;'"
                       class="button tiny" th:classappend="(${mode} == 'edit') ? 'disabled secondary'"
                       th:text="#{menuItem.edit}">#menuItem.edit
                    </a>
                  </li>
                  <li>
                    <button type="submit" th:onclick="(${mode} != 'edit') ? 'return false;'"
                            class="tiny" th:classappend="(${mode} != 'edit') ? 'disabled secondary'"
                            th:text="#{menuItem.save}">#menuItem.save
                    </button>
                  </li>
                </ul>
              </legend>

              <div th:include="templates/menu_item :: formFields(false)"></div>

            </fieldset>

          </form>

        </div>

      </div>
    </section>

    <div th:include="templates/layout :: footer"></div>

    <!--/* Foundation initialization */-->
    <script src="../../../resources/js/vendor/jquery.js" th:src="@{/js/vendor/jquery.js}"></script>
    <script src="../../../resources/js/foundation.min.js" th:src="@{/js/foundation.min.js}"></script>
    <script>
      $(document).foundation();
    </script>
    <!--/* Geomenum */-->
    <script src="../../../resources/js/geomenum/geomenum.js" th:src="@{/js/geomenum/geomenum.js}"></script>
    <script src="../../../resources/js/geomenum/views/menu/menu_item.js" th:src="@{/js/geomenum/views/menu/menu_item.js}"></script>
  </body>
</html>