<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-3.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Geomenum · Welcome</title>
    <link rel="stylesheet" type="text/css" media="all" href="../../resources/css/foundation.css" th:href="@{/css/foundation.css}" />
    <script src="../../resources/js/vendor/modernizr.js" th:src="@{/js/vendor/modernizr.js}"></script>

    <!--/* Custom styling - TODO : create a custom stylesheet for this */-->
    <style type="text/css">
      img.how-illustration {
        box-shadow: 5px 5px 5px #555;
        -webkit-box-shadow: 5px 5px 5px #555;
        -moz-box-shadow: 5px 5px 5px #555;
      }
    </style>
  </head>

  <body>

    <div th:include="templates/layout :: publicHeader"></div>

    <section role="main">
      <div class="row">

        <div class="large-8 columns">

          <div th:include="templates/widgets :: messageBox(${message})"></div>

          <!--/* Welcome text */-->

          <h1 th:text="#{welcome.title}">#Welcome to Geomenum !</h1>

          <h4 class="subheader" style="font-style: italic" th:text="#{welcome.subtitle}">#The first free back-office blablabla</h4>

          <h3 th:inline="text">[[#{welcome.what}]]</h3>

          <p th:text="#{welcome.whatMessage}">
            #Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>

          <h3 th:inline="text">[[#{welcome.how}]]</h3>

          <p th:text="#{welcome.howMessagePt1}">
            #Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>

          <div class="text-center">
            <img src="../../resources/img/how_illustration.jpg" class="how-illustration"
                 th:src="@{/img/how_illustration.jpg}" alt="How illustation" />
          </div>
          <br />

          <p th:text="#{welcome.howMessagePt2}">
            #Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>

          <h3 th:inline="text">[[#{welcome.why}]]</h3>

          <p th:inline="text">
            [[#{welcome.whyMessage}]]
          </p>

          <!--/* Sign up button */-->

          <div class="columns text-center">

            <a class="button round success" href="system/registration/signup.html" th:href="@{/signup}" th:text="#{welcome.signup}">#Sign up</a>

          </div>

        </div>

        <div class="large-4 columns">
          <div class="panel">

            <!--/* LOGIN FORM */-->

            <form method="post" th:action="@{/login}">

              <!--/* Username */-->

              <div class="row">
                <div class="large-12 columns">
                  <input type="email" id="username" name="username" th:placeholder="#{login.username}" th:required="true" />
                </div>
              </div>

              <!--/* Password */-->

              <div class="row">
                <div class="large-12 columns">
                  <input type="password" id="password" name="password" th:placeholder="#{login.password}" th:required="true" />
                </div>
              </div>

              <!--/* Login button */-->

              <div class="row">
                <div class="large-12 pagination-centered">
                  <button type="submit" class="small" style="margin-bottom: 0" th:text="#{login.signin}">#Sign in</button>
                </div>
              </div>

            </form>

          </div>
        </div>

      </div>
    </section>

    <div th:include="templates/layout :: footer"></div>

    <!--/* Foundation initialization */-->
    <script src="../../resources/js/vendor/jquery.js" th:src="@{/js/vendor/jquery.js}"></script>
    <script src="../../resources/js/foundation.min.js" th:src="@{/js/foundation.min.js}"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>